<h1>Listado de todos los productos</h1>

<ol id="productList">
  {{#each products}}
    <li>
      <strong>ID:</strong> {{this.id}}, 
      <strong>Título:</strong> {{this.title}}, 
      <strong>Descripción:</strong> {{this.description}}, 
      <strong>Código:</strong> {{this.code}}, 
      <strong>Precio:</strong> {{this.price}}, 
      <strong>Estado:</strong> {{this.status}}, 
      <strong>Stock:</strong> {{this.stock}}, 
      <strong>Categoría:</strong> {{this.category}}, 
      <strong>Thumbnails:</strong> {{this.thumbnails}}
    </li>
  {{/each}}
</ol>